extends base

//- 在 footer 模板上的 block 最後引入
block append footer
  script(src='/js/login.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js')

block content
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg= title
      form.form
        .form__group
          label.form__label(for='email') Email address
          input#email.form__input(type='email', placeholder='you@example.com', required)
        .form__group.ma-bt-md
          label.form__label(for='password') Password
          input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
        .form__group
          button.btn.btn--green Login